*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 281px;
    border: 1px solid #333;
    background-color: black;
    padding: 5px;
}

/* 그리드 컨테이너 */
.calculator .keys{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 3px;
}

/* 버튼 스타일 */
.calculator .keys button{
    border: 2px solid #333;
    cursor: pointer;
    font-size: 19px;

}

.calculator .keys button:hover{
    box-shadow: 1px 1px 2px #333;
}

/* 출력창은 input 유지 */
.calculator .keys input[type=text]{
    grid-column: span 4;
    padding-left: 5px;
}

/* 상태별 색상 */
.calculator .keys .clear{
    background-color: skyblue;
}

.calculator .keys .operator{
    background-color: antiquewhite;
}

.calculator .keys .dot,
.calculator .keys .backspace{
    background-color: azure;
}